<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Us</h2>
        <p>We are a company dedicated to providing the best services to our customers.</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
            <li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li><a routerLink="whey-proteins" routerLinkActive="active" ariaCurrentWhenActive="page">Whey Proteins</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Phone: +123-456-7890</p>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 Your Company. All rights reserved.
    </div>
  </div>
</footer>
