<!-- header.component.html -->
<header class="header">
    <div class="container">
      <div class="logo">
        <a routerLink="/">MyShop</a>
      </div>
      <nav class="nav">
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="whey-proteins" routerLinkActive="active" ariaCurrentWhenActive="page">Whey Proteins</a></li>
        </ul>
      </nav>
      <div class="cart">
        <a routerLink="/cart">
          <img src="assets/cart-icon.png" alt="Cart" />
          <span class="cart-count">0</span>
        </a>
      </div>
    </div>
  </header>
  